.DS_Store
.indd
.vscode
*.idlk
*.otf
*.ttf
*.ufo
*.zip
*.designspace
*Autosaved*
bakery-report.html
ehthumbs.db
Icon?
instance_otf
instance_ttf
master_otf
refs
sources/instance_ufos
Thumbs.db
variable_ttf
venv/
master_ufo/
fonts
dist/*.png
aux/*.png
temp
__pycache__