.DS_Store
.indd
.vscode
*.idlk
*.ufo
*.zip
*.designspace
*Autosaved*
bakery-report.html
ehthumbs.db
Icon?
refs
Thumbs.db
venv/
dist/*.png
aux/*.png
temp
__pycache__
extra/assets/*.ttf
extra/assets/*.woff2
*-VARsetup.glyphs