.DS_Store
.indd
.vscode
*.idlk
*.otf
*.ttf
*.ufo
*.zip
*.designspace
*Autosaved*
bakery-report.html
ehthumbs.db
Icon?
refs
Thumbs.db
venv/
fonts
dist/*.png
aux/*.png
temp
__pycache__
extra/assets/*.ttf